<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Three Boxes</title>
    <style>
        .rows {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .box {
            height: 60px;
            width: 60px;
            background-color: red;
        }
    </style>
</head>
<body>
    <div class="rows">
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
    </div>
    <h1>Type any integer into the url. Ex. "/4" will create four red boxes!</h1>
    <h2>Type in any color after the integer to set the color of boxes. Ex. "/4/rebbeccapurple"</h2>
</body>
</html>