<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>X boxes</title>
    <style>
        .rows {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .box {
            height: 60px;
            width: 60px;
            background-color: red;
        }
    </style>
</head>
<body>
    <div class="rows">
        {% for i in range(0, num) %}
            <div class="box"></div>
        {% endfor %}
    </div>
</body>
</html>