<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First Flask!</title>
</head>
<body>
    <h1>Hello Flask</h1>
    <h2>Type in "/genre" after the url to find out the creator's favorite genre of music</h2>
    <h2>Type in "/hi/___" and anything replacing the underscores will display greeting them/it</h2>
    <h2>After the url, type in "/repeat/num/word" where num = to any integer of your like and word, of course is a single word</h2>
</body>
</html>